@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=PT+Sans+Narrow&family=Playball&family=Righteous&display=swap");
/* FONTS
font-family: 'Lato', sans-serif;
font-family: 'Playball', cursive;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Righteous', cursive; */

body {
  background-color: rgba(82, 125, 195, 0.26);
  font-family: "PT Sans Narrow", sans-serif;
}
#appTitleDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
#appTitle {
  font-family: "Righteous", cursive;
  font-size: 4rem;
  color: rgb(13, 13, 116);
  text-align: center;
  border-radius: 40%;
  border: solid white 12px;
  min-width: 15%;
  background-color: rgba(13, 63, 116, 0.291);
  margin-bottom: 0;
}
#appSubTitle {
  font-family: "Playball", cursive;
  color: rgb(13, 13, 116);
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}
/* //--------------🦴 🦴 🦴 Goodest Dog of the Day Section 🦴 🦴 🦴--------------// */
#moveGoodestDog {
  position: fixed;
  float: right;
  top: 0;
  right: 0;
}
#goodestDogDiv {
  color: rgb(109, 0, 0);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 4rem 13rem 4rem 13rem;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 20%;

  /* FLASHING BACKGROUND */
  animation: blinkingBackground 2s infinite;
}
@keyframes blinkingBackground {
  0% {
    background-color: #f5f8f5;
  }
  25% {
    background-color: #c01010;
  }
  50% {
    background-color: #e76c74b6;
  }
  75% {
    background-color: #ce502da9;
  }
  100% {
    background-color: #ab2c2855;
  }
}

#newsGif {
  height: 5rem;
  margin-top: -2rem;
}
#imgRandom {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* //--------------🦴 🦴 🦴 User Profile Section 🦴 🦴 🦴--------------// */
/* #userProfileDiv {
} */
form {
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; */
  font-size: 20px;
  padding: 0 3rem 2rem 2rem;
}

/* //--------------🦴 🦴 🦴 Friends Section 🦴 🦴 🦴--------------// */
#friendsOnlineText {
  font-size: 2rem;
}
#onlineGif {
  max-height: 2rem;
}
#cardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  gap: 40px;
  padding: 2rem;
  margin: 0 2rem 0 2rem;
}
.localDogCard {
  background-color: white;
}
.localDogPics {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.likeNameContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
}
.submit-btn {
  font-family: "Lato", sans-serif;
}
#imgRandom {
  width: 250px;
  height: 250px;
}
.localDogCard {
  max-height: 60vh;
  width: 250px;
  background: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.bark-section {
  height: min-content;
  margin-bottom: 0px;
}
