body {
  background-color: rgba(82, 125, 195, 0.26);
}
#appTitle {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  color: blue;
  text-align: center;
}
#appSubTitle {
  text-align: center;
}
/* //--------------🦴 🦴 🦴 Goodest Dog of the Day Section 🦴 🦴 🦴--------------// */
#goodestDogDiv {
  outline: red solid 3px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
#newsGif {
  height: 5rem;
}
#imgRandom {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* //--------------🦴 🦴 🦴 User Profile Section 🦴 🦴 🦴--------------// */
.localDogPics {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}
/* //--------------🦴 🦴 🦴 Friends Section 🦴 🦴 🦴--------------// */
/* .imgCard {
  height: 60vh;
  width: 250px;
  background: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
} */

/* #dogOfDay {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  padding-bottom: 30px;
} */

/* .cardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
} */
/* .headerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   height: 30vh;
  padding: 20px; 
} */
/* #likes {
  font-size: 1rem;
} */
/* #dogName {
  font-size: 1rem;
} */
/* .likeNameContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}
.form {
  margin-top: 30px;
}
.form input {
  margin-top: 10px;
}
.form label {
  padding-top: 10px;
} */

/* .submit-btn {
  font-family: "Lato", sans-serif;
}
#imgRandom {
  width: 250px;
  height: 250px;
} */
